<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="location" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ title }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="article" *ngIf="content">

    <!-- intro section -->

    <div class="icon-header" *ngIf="content.template != 'default'">
      <div class="icon">
        <img [src]="saveURL('image/png', content.icon)" alt="{{ content.title }} Icon">
      </div>

      <p>Mehr erleben im</p>
      <h2>{{ content.title }}</h2>
    </div>

    <ion-text color="light" *ngIf="content.template != 'default'">
      <p>{{ content.teasertext }}</p>
    </ion-text>


    <!-- content section -->

    <div *ngFor="let item of content.content; index as i;">
      <div [ngSwitch]="item.type" class="section-wrap">

        <!-- Heading -->
        <div *ngSwitchCase="'heading'">
          <div [ngSwitch]="item.content.level">
            <h1 *ngSwitchCase="'h1'">{{ item.content.text }}</h1>
            <h2 *ngSwitchCase="'h2'">{{ item.content.text }}</h2>
            <h3 *ngSwitchCase="'h3'">{{ item.content.text }}</h3>
            <h4 *ngSwitchCase="'h4'">{{ item.content.text }}</h4>
            <h5 *ngSwitchCase="'h5'">{{ item.content.text }}</h5>
            <h6 *ngSwitchCase="'h6'">{{ item.content.text }}</h6>
          </div>
        </div>

        <!-- Text -->
        <div *ngSwitchCase="'text'" [innerHTML]="item.content.text"></div>

        <!-- List -->
        <div *ngSwitchCase="'list'" [innerHTML]="item.content.text"></div>

        <!-- img -->
        <div *ngSwitchCase="'img'">
          <ion-img src="data:image/jpeg;base64,{{ item.content.image }}" alt="{{ item.content.alt }}"></ion-img>
        </div>

        <!-- slider -->
        <div *ngSwitchCase="'img-slider'">
         <ion-slides pager="true">
            <ion-slide *ngFor="let img of item.content.image">
              <ion-img src="data:image/jpeg;base64,{{ img }}" alt="{{ content.title }} Artikel Bild"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>

        <!-- video -->
        <div *ngSwitchCase="'youtube'">
          <iframe [src]="updateVideoUrl(item.content.url)" allowfullscreen>Ups, da ist etwas schief gelaufen!</iframe>
        </div>

        <!-- audio -->
        <div *ngSwitchCase="'audio'">
          <audio controls preload autobuffer>
            <source [src]="saveURL('audio/wav', item.content.audio)" />

            Ups, da ist etwas schief gelaufen!
          </audio>
        </div>

        <!-- default -->
        <div *ngSwitchDefault>
          <p>Error!</p>
          <p>{{ item.content }}</p>
        </div>

      </div>
    </div>


  </div>
</ion-content>
