.article {
  padding: 1.5rem;

  .icon-header {
    margin-bottom: 2rem;
  }
}

.section-wrap {
  p:first-child{
    margin-top: 0;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.75rem 0 .5rem 0;
  }
}
