<ion-app>
  <ion-split-pane contentId="location-content">
    <ion-menu contentId="location-content" type="overlay" side="end">
      <ion-content color="primary">

        <ion-header class="ion-no-border">
          <ion-toolbar color="none">

            <ion-buttons slot="end" class="language" [class.disabeld]="offline">
              <ion-button (click)="toggleLang('de')" [class.bold]="lang == 'de'">DE</ion-button>
              <ion-button (click)="toggleLang('en')" [class.bold]="lang == 'en'">EN</ion-button>
            </ion-buttons>

            <ion-buttons slot="start">
              <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-list id="inbox-list" *ngIf="mainNav">
          <div *ngFor="let item of mainNav"
          [ngSwitch]="item.type[0].name" class="section-wrap">

            <!-- Location -->
            <div *ngSwitchCase="'location'">
              <ion-menu-toggle auto-hide="false">
                <ion-list-header routerLink="/{{ item.type[0].name }}/{{ item.id }}">{{ item.title }}</ion-list-header>
              </ion-menu-toggle>

              <ion-menu-toggle auto-hide="false" *ngFor="let child of item.children">
                <ion-item routerDirection="forward" [routerLink]="['/article/', child.id]" lines="none" detail="false">
                  <ion-label>{{ child.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>

            <!-- WebView -->
            <div *ngSwitchCase="'webview'">
              <ion-menu-toggle auto-hide="false">
                <ion-list-header (click)="createInAppBrowser( item.link.value )">{{ item.title }}</ion-list-header>
              </ion-menu-toggle>
            </div>

            <!-- Defautl -->
            <div *ngSwitchDefault>
              <ion-menu-toggle auto-hide="false">
                <ion-list-header routerLink="/article/{{ item.id }}">{{ item.title }}</ion-list-header>
              </ion-menu-toggle>
            </div>
          </div>
        </ion-list>

        <div class="meta">
          <ion-menu-toggle auto-hide="false" *ngFor="let item of metaNav">
            <div [routerLink]="['/article/', item.id]">{{ item.title }}</div>
          </ion-menu-toggle>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="location-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
