<div class="content">
    <div class="icon-header">
      <div class="icon">
        <img src="{{ data.icon }}" alt="{{ data.title }} Icon">
      </div>

      <h2>{{ data.title }}</h2>
    </div>

    <div class="text">
      <div class="close" (click)="close()">X</div>
      <p>{{ data.teasertext }}</p>

      <ion-img src="{{ data.teaserimg }}" alt="{{ data.title }} Vorschaubild"></ion-img>

      <div [innerHTML]="data.time"></div>

      <div class="routerbtn">
        <ion-button (click)="route(data.id)">
          Mehr erfahren
        </ion-button>
      </div>
    </div>
</div>
